.body{
    padding-top: 100px 
}

.image {
    margin: 15px auto;
    border-radius: 50%;
    width: 240px !important;
    height: 240px !important;
}

.profile_card {
    margin: 20px auto auto auto;
}