<% layout('layout') -%>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">
            Shop Smart, Save Big!
        </h1>
        <p class="lead text-muted">
            Starting point to create something more unique
        </p>
        <p>
            <a href="/signup" class="btn btn-outline-primary my-2">Signup <i class="fas fa-user fa-rotate"></i></a>
            <a href="/login" class="btn btn-link my-2" style="text-decoration: none">Login <i class="fas fa-sign-in-alt"></i></a>
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="https://avatarfiles.alphacoders.com/892/89214.gif" alt="Card image cap">
                    <div class="card-body">
                        <h3>
                            Start your search here
                        </h3>
                        <p class="card-text">Sign Up to start buing</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="https://avatarfiles.alphacoders.com/892/89214.gif" alt="Card image cap">
                    <div class="card-body">
                        <h3>
                            Lorem ipsum dolor sit
                        </h3>
                        <p class="card-text">Our prices are some of the best on the web</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="https://avatarfiles.alphacoders.com/892/89214.gif" alt="Card image cap">
                    <div class="card-body">
                        <h3>
                            Look for smart items here
                        </h3>
                        <p class="card-text">These will appear acrcoss</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>